* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
}

#divContainer {
  width: 100%;
  padding: 5px;
  margin: auto;
  background-color: aqua;
}

.cardapp {
  width: 150px;
  height: 150px;
  aspect-ratio: 1 / 1;
  transition: all 1s cubic-bezier(.215, .61, .355, 1);
}

#bggreen1 {
  background-color: #014422;
}

#bggreen2 {
  background-color: #345f3c;
}

#bggreen3 {
  background-color: #8a9a5b;
}

#bggreen4 {
  background-color: #bcb88a;
}

.scale1{
  transform: rotateX(180deg);
}
.scale2{
  transform: rotateX(180deg);
}

.scale3{
  transform: rotateY(180deg);
}

.scale4{
  transform: rotateX(180deg);
}




