/* general */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../img/pexels-vlada-karpovich-4452397.jpg);
  background-color: #f2e1c5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body h1 {
  font-size: 200px;
  mix-blend-mode: overlay;
  font-family: "Permanent Marker", cursive;
}

.col img {
  width: 200px;
  opacity: 0.9;
  margin: 5px;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

/* contenitori principali */
#divContainer {
  width: 100%;
  height: 100vh;
  padding: 5px;
  margin: auto;
}

.cardapp {
  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  font-size: 1em;
}

/* utility */
.font-I {
  font-family: "Italiana", sans-serif;
  font-weight: 700;
}

.bggreen1 {
  background-color: #a1a686;
  opacity: 0.9;
}

.bggreen2 {
  background-color: #c9ad85;
  opacity: 0.9;
}

.bggreen3 {
  background-color: #cfc9a7;
  opacity: 0.9;
}

.bggreen4 {
  background-color: #f2e1c5;
  opacity: 0.9;
}

.scale1 {
  scale: 1.05;
}
.scale2 {
  scale: 1.05;
}

.scale3 {
  scale: 1.05;
}

.scale4 {
  scale: 1.05;
}
